body{
    background: url("../assets/nami/nami.png ");
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
}

.border_container{
    background-color: rgba(155, 155, 155, 0.1);
    width: 90vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*HOME PAGE TITLE AND BACKGROUND STYLING*/
.online_text{
    font-size: 25%;
    letter-spacing: 3vw;
}
.page_title_div{
    font-family: "Monoton";
    margin-bottom: 2vh;
    color: #fff;
    font-size: 14vw;
    text-align: center;
    text-shadow: 0 0 5px black, 0 0 10px blue, 0 0 55px white, 0 0 25px blue;
}
.border_top_bottom{
    background: transparent;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    box-shadow: 0 0 25px white, 0 0 15px black, 0 0 55px white;
}

/*HOME PAGE FORM STYLING*/
.landing_page_form_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.landing_page_form{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}
.landing_page_form_field{
    font-family: "Iceland";
    display: flex;
    height: 10vw;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    border: solid 2px white;
    font-size: 4.5vw;
}
.landing_page_form_field:focus{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}
.landing_page_form_field::placeholder {
    text-shadow: 0px;
    color: white;
}

/*BUTTON STYLING*/
.fa-camera{
    width: 10vw;
    height: 10vw;
    border-radius: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5vw;
    border: 2px solid white;
}
.cast_line_btn:hover{
    color: white;
    background-color: rgba(255,255,255, .8);
}
.general_btn{
    font-family: "Iceland";
    background-color: rgba(0, 0, 0, .7);
    color: white;
    font-size: 5vw;
    letter-spacing: 1px;
    width: 25vw;
    height: 10vw;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.instructions_text{
    text-align: center;
    width: 50vw;
    color: white;
    text-shadow: 0 0 1px black;
    font-size: 5vw;
    font-family: "Iceland";
    margin: 0;
}

/*MODAL STYLING*/
.hideModal{
    visibility: hidden;
}
#imageModal{
    width: 75vw;
    height: 15vw;
    background-color: black;
    margin-bottom: 1vh;
}

.imageContainer{
    height: 100%;
    width: 33%;
    display: inline-block;
    border: 2px solid white;
    box-shadow: 0 0 1px #fff, 0 0 4px black;
    border-radius: 3px;
}
.imgContC{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 70%;
}
.imgContB{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 40%;
}
.imgContA{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 40%;
}
.image{
    width: 100%;
    display: inline-block;
}

#queryUserEnjoyment_border{
    justify-content: center;
}

@media screen and (max-device-width : 414px) {
    .online_text{
        font-size: 25%;
        letter-spacing: 3vw;
    }
    .page_title_div {
        font-family: "Monoton";
        margin-bottom: 2vh;
        font-size: 14vw;
    }
    .instructions_text{
        width: 50vw;
        font-size: 5vw;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 500px) {
    .online_text{
        font-size: 25%;
        letter-spacing: 3vw;
    }
    .page_title_div {
        font-family: "Monoton";
        margin-bottom: 17px;
        font-size: 69px;
    }
    .instructions_text{
        width: 250px;
        font-size: 26px;
    }
    .border_container, .border_top_bottom{
        width: 475px;
    }
    .landing_page_form_container{
        width: 280px;
        height: 120px;
    }
    .landing_page_form, .landing_page_form_field{
        height: 45px;
    }
    .fa-camera{
        width: 45px;
        height: 45px;
        font-size: 25px;
    }
    .general_btn{
        width: 130px;
        height: 50px;
        font-size: 26px;
    }
    /*MODAL STYLING*/
    #imageModal{
        width: 380px;
        height: 75px;
        margin-bottom: 1vh;
    }
}





.glyphicon-play{
    color: white;
}
.video_info, .track_info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.track_control, .video_control{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*IFRAME*/


.change_media_btn{
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;
}
.picture_frame{
    width: 100%;
    height: 25vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.info_label{
    font-family: "Iceland";
    font-size: 16px;
    color: white;
    text-shadow: 0 0 5px black, 0 0 10px blue, 0 0 55px white, 0 0 25px blue;
}
.info_data{
    font-family: "Iceland";
    font-size: 16px;
    color: white;
    width: 200px;
    height: 16px;
    overflow: scroll;
    text-align: center;
}