body{
    background: url("../assets/nami/nami.png ");
    width: 100vw;
    height: 100vh;
}

.border_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*HOME PAGE TITLE AND BACKGROUND STYLING*/
.online_text{
    font-size: 6vw;
    letter-spacing: 3vw;
}
.page_title_div{
    margin-bottom: 2vh;
    color: #fff;
    font-size: 14vw;
    text-align: center;
    text-shadow: 0 0 1px #fff, 0 0 2px black, 0 0 14px #FFDD1B, 0 0 30px #FFDD1B;
    font-family: "Bungee Shade";
}
.border_top_bottom{
    background: url("../assets/nami/nami.png ");
    width: 90vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px #fff, 0 0 70px #228DFF;
}

/*HOME PAGE FORM STYLING*/
.landing_page_form_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 6vh;
}
.landing_page_form{
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 3px #fff, 0 0 4px #fff, 0 0 24px #FFDD1B, 0 0 24px #FFDD1B;
    align-items: center;
    width: 60vw;
    height: 10vw;

}
.landing_page_form_field{
    font-family: "Bungee Shade";
    display: flex;
    width: 60vw;
    height: 10vw;
    color: white;
    text-shadow: 0 0 1px #fff, 0 0 1px black, 0 0 1px #fff, 0 0 14px #FFDD1B, 0 0 20px #FFDD1B;
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #FFDD1B;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    border: .2vw solid white;
    font-size: 4.5vw;
}
.landing_page_form_field:focus{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}
.landing_page_form_field::placeholder {
    text-shadow: 0px;
    color: white;
}
.landing_page_form_field:focus::placeholder {

}

/*BUTTON STYLING*/
.fa-camera{
    width: 10vw;
    height: 10vw;
    border-radius: 5px;
    color: white;
    text-shadow: 0 0 1px #fff, 0 0 2px black, 0 0 24px #FFDD1B;
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 24px #FFDD1B;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5vw;
    border: .2vw solid white;
}
.cast_line_btn:hover{
    color: white;
    background-color: rgba(255,255,255, .8);
}
.cast_line_btn{
    background-color: rgba(0, 0, 0, .7);
    box-shadow: 0 0 4px #fff, 0 0 14px #FFDD1B, 0 0 35px #FFDD1B;
    color: white;
    font-size: 4.5vw;
    letter-spacing: 1px;
    width: 25vw;
    font-family: "Bungee Shade";
    border: .4vw solid white;
    text-shadow: 0 0 1px #fff, 0 0 1px black, 0 0 1px #fff, 0 0 14px #FFDD1B, 0 0 20px #FFDD1B;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.instructions_text{
    font-family: "Bungee Shade";
    text-align: center;
    width: 50vw;
    color: white;
    text-shadow: 0 0 1px #fff, 0 0 1px black, 0 0 1px #fff, 0 0 14px #FFDD1B, 0 0 20px #FFDD1B;
    font-size: 4.5vw;
}

/*MODAL STYLING*/
.hideModal{
    visibility: hidden;
}
#imageModal{
    width: 75vw;
    height: 15vw;
    background-color: black;
    margin-bottom: 2vh;
}

.imageContainer{
    height: 100%;
    width: 33%;
    display: inline-block;
    border: 1px solid black;
    box-shadow: 0 0 1px #fff, 0 0 4px black, 0 0 70px #228DFF;
}
.imgContC{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 70%;
}
.imgContB{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 40%;
}
.imgContA{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 40%;
}
.image{
    width: 100%;
    display: inline-block;
}

#queryUserEnjoyment_border{
    justify-content: center;
}

/*@media (min-aspect-ratio: 21/28) {*/
    /*body{*/
        /*display: none;*/
    /*}*/
/*}*/